* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #475569;
  --brand-color-dark: #0f172a;
  --bg-color: #9ca3af;
  --stroke-color: #111827;
  --text-color-primary: #f3f4f6;
  --text-color-secondary: #e5e7eb;
}

body{
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}