#noticias {
  /* Corrigido! Era ter colocado o img{} */
  img {
    height: 100%;
    object-fit: cover;
  }

  .sombra {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;

      /* Isso aqui só vai alterar o que tem lá dentro da class (.text.lg) */
      &:has(.text-lg) {
        padding: 14px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
}
